# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# python
__pycache__

*.mp3
*.wav
*.png
./**/*.mp3
./**/*.wav
./**/*.png

data

s.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/